@import url('https://fonts.googleapis.com/css?family=Lato:400,400i&display=swap');

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962
  background:url(https://www.google.com/search?q=logo&client=firefox-b-d&sxsrf=ACYBGNTsgvNcp28It0BicUUGSLssLMFTdQ:1569849408670&source=lnms&tbm=isch&sa=X&ved=0ahUKEwj-5-ri0PjkAhXOUJoKHSz8AygQ_AUIESgB&biw=958&bih=1004#imgrc=OfthBT3m7USJXM:);
}

.offset:before{
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
/*============= NAV START===========*/

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img{
  height: 4rem;
}
.navbar-nav li{
  padding-right: .9rem;
}
.navbar-nav li{
  padding-right: .7em;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: orange;

}
/*---- landing page ----*/

.home-inner{
  background-image:url(spider.jpg);
}
.caption{
  color: white;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  text-transform: uppercase;

}
.caption h1{s
  color: white;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;

}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem ;
  font-size: 1.1rem

}
/* course */

.narrow{
  width: 75%;
  margin: 1.5rem auto ;
  padding-top: 2rem;
}
.narrow h1 {
  font-size: 2.4rem;
}
.btn-secondary{
  border-width: medium;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: .6rem 1.2rem;
  margin: 1rem;
  color: white;
  background-color: black;
  border-color: orange;
}
.btn-secondary:hover {
  background-color: orange;
  border-color: orange;
}

/* features */
.jumbotron1{
  margin: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
  background-color: grey;


}h3.heading{
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;

}
.heading-underline{
  width: 3rem;
  height: .2rem;
  background-color: orange;
  margin: 0 auto 2rem;

}
.svg-inline--fa{
  color: orange;
}
.feature h3{
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;

}
.feature p{
font-size: 1.1rem;

}
/* res */
.fixed{
  background-image: url(tum.png);
}
.fixed-background h3{

}
.fixed-background p{

}

/* client s*/
.imgg{
  width: 100%;
  border-radius: 50%;
}
blockquote .svg-inline--fa{
  color: orange;
  margin: 1rem;
}
.clients-hr{
  border-top: .05rem solid orange;
}

/* contact*/

footer{
  background-color: #40474e;
  color: white;
  padding:2rem 0 2rem;
  margin-top: .5rem;
}
footer img{
  height: 12rem;
  margin: 1.5rem 0 ;

}
footer .svg-inline--fa:{
  color: white;
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;

}
footer .svg-inline--fa:hover {
  color: white;
  font-size: 2rem;
}
hr.socket{
  width: 100%;
  border-top: .2rem solid orange;
  margin-top: 3rem;
}
@media (max-width: 767px){
.caption h1{s
  color: white;
  font-size: 2.3rem;
  letter-spacing: .15rem;
  padding-bottom: .5rem;
}
.caption h3{
  font-size: 1.2rem;
  padding-bottom: 1.2rem;

}
.btn-lg{
  padding: .5rem 1rem ;
  font-size: 1rem

}
.narrow h1 {
  font-size: 1.5rem;
}
.imgg{
  max-width: 50%;
  display: block;
  margin: 0 auto;
}